<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.securitymood.article-publisher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__RUNNER_PATH__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/Users/dawidbubernak/.local/bin:/Users/dawidbubernak/.nvm/versions/node/v20.19.2/bin:/Users/dawidbubernak/.nvm/versions/node/v22.22.1/bin</string>
    <key>SECURITY_MOOD_PUBLISHER_REPO</key>
    <string>__REPO_PATH__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Weekday</key><integer>2</integer>
      <key>Hour</key><integer>1</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>2</integer>
      <key>Hour</key><integer>9</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>2</integer>
      <key>Hour</key><integer>13</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>2</integer>
      <key>Hour</key><integer>17</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>5</integer>
      <key>Hour</key><integer>1</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>5</integer>
      <key>Hour</key><integer>9</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>5</integer>
      <key>Hour</key><integer>13</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>5</integer>
      <key>Hour</key><integer>17</integer>
      <key>Minute</key><integer>15</integer>
    </dict>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__ERROR_LOG_PATH__</string>
</dict>
</plist>
